{%- from "components/callout.njk" import callout -%}
{{ callout("Class utilities", "Class utilities are classes that allow you to control one aspect from a different CSS class. Class utilities on their own have no impact whatsoever, in contrast to utility classes. Class utilities are prefixed with '--' to make them easily spottable.") }}
